@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: 'Nunito', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
            color: #000000;
            background: #f4f4f4;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        ul {
            list-style: none;
        }

        h1, h2, h3 {
            font-weight: 700;
            line-height: 1.25;
            margin: 0 0 0.5em;
        }

        img {
            max-width: 100%;
            vertical-align: middle;
        }

        .container {
            max-width: 1500px;
            margin: 0 auto;
            padding: 0 2em;
        }

        .form-box {
            display: flex;
            flex-direction: column;
            margin-top: 5em;
            border: 8px solid #dadaed;
            border-radius: 15px;
            background-color: #faf9ff;
        }

        .form-box .progress {
            position: relative;
            padding: 1em;
        }

        .logo {
            font-size: 1.75em;
            font-weight: 800;
            color: #000000;
            padding: 40px 48px;
            text-align: center;
        }

        .logo span {
            color: #d50505;
        }

        .progress ul.progress-steps {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2em;
        }

        .progress ul.progress-steps li {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 2em;
        }

        .progress ul.progress-steps li > span {
            width: 40px;
            height: 40px;
            font-size: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1em;
            border-radius: 50%;
            background-color: #dadaed;
            z-index: 1;
        }

        .progress ul.progress-steps li.active > span {
            color: white;
            background-color: #6c5ce7;
            border: 4px solid #a29bfe;
            z-index: 1;
        }

        .progress ul.progress-steps li p {
            font-size: 15px;
            margin-left: 5px;
        }

        .progress ul li p {
            position: absolute;
            top: -2em;
            font-size: 12px;
        }

        .form-box form {
            width: 100%;
            padding: 3em 1em;
            background-color: white;
            border-radius: 30px 30px 15px 15px;
        }

        form > div {
            max-width: 700px;
            margin: 0 auto;
        }

        form > div p {
            color: #7c7c9a;
            margin-bottom: 2em;
        }

        form > div > div:not(.checkbox) {
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
        }

        form :where(input, select) {
            height: 40px;
            padding: 0 1em;
            border-radius: 7px;
            outline-color: #a29bfe;
            border: 1px solid black;
            background-color: transparent;
        }

        form label {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 0.5em;
        }

        form .grouping {
            display: flex;
        }

        form .grouping input {
            max-width: 70px;
            text-align: center;
            margin-right: 1em;
        }

        form > div:not(.btn-group) {
            display: none;
            animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(10%);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        form > div.active {
            display: block;
        }

        .btn-group {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            margin-top: 2em;
        }

        .btn-group [class*="btn-"] {
            background-color: #a29bfe;
            color: white;
            padding: 1em 2.5em;
            border: 4px solid #6c5ce7;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color .3s, border-color .3s ease-out;
        }

        .btn-group [class*="btn-"]:disabled {
            background-color: grey;
            border-color: #dadaed;
            cursor: text;
        }

        .btn-group [class*="btn-"]:hover:not(disabled) {
            background-color: #000000;
            border-color: #dadaed;
        }

        .btn-group .btn-submit,
        .form-three.active ~ .btn-group .btn-next {
            display: none;
        }

        .form-three.active ~ .btn-group .btn-submit {
            display: block;
        }

        .form-three.active ~ .btn-group {
            justify-content: space-between;
        }

        ::placeholder {
            color: grey;
        }

        .verification-form {
    background: #6495ed;
    width: 600px;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
}

.verification-form p,
.verification-form span {
    color: #000; /* Set text color to black for paragraphs and spans */
}

.row {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px;
}

.row input {
    height: 50px;
    width: 50px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: 1px solid #000; /* Set border color of inputs to black */
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.submit {
    width: 50%;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    background-color: #78c1f3;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin: 20px auto; /* Center align the button horizontally */
    display: block; /* Ensures the button takes up full width */
}

.submit:hover {
    background-color: #3998d8;
}

p a#request {
    color: #3998d8; /* Change link color */
    text-decoration: underline; /* Add underline */
}



        @media screen and (min-width: 768px) {
            .form-box {
                flex-direction: row;
            }
            .form-box .progress {
                flex: 1 0 35%;
                min-width: 300px;
                padding: 3em;
            }
            .logo {
                margin: -48px -48px 48px;
            }
            .progress ul.progress-steps {
                flex-direction: column;
                gap: 0;
            }
            .progress ul.progress-steps li:not(:last-child)::before {
                content: '';
                position: absolute;
                left: 20px;
                top: 30px;
                width: 2px;
                height: 65px;
                background-color: #e0e0e7;
            }
            .form-box form {
                padding: 3em;
                border-radius: 0 15px 15px 0;
            }
            .progress ul li p {
                position: relative;
                top: auto;
                font-size: inherit;
            }
            .progress ul.progress-steps li p {
                display: block;
            }
        }