body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
}

ul {
    color: red;
    list-style-type: none;
}
